.menu {
	width:100%;
	position:relative;
  top:45px;
  text-transform: uppercase;
  color:white;
  font-family: "Roboto", sans-serif;
}
.board{
	margin: 0 auto;
	width:50%;
	height:495px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align:center;
}
#delete{
	width:85%;
	margin-bottom:5px;
}
#sub {
  
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 85%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
#sub:hover,#myForm #sub:active,#myForm #sub:focus {
  background: white;
  color:black;
}