.menu1{
	position: relative;
	top: 35px;
	width: 100%;
	text-transform: uppercase;
	margin-top:15px;
}
.upperleft{
	float: left;
	width:49%;
	height:480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align:center;
}
.upperright{
	float: right;
	width:49%;
	height: 480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align: center;
}

.menu2{
 position: relative ;
 top: 50px;
  width: 100%;
	text-transform: uppercase;
}
.lowleft{
	float: left;
	width:49%;
	height:480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align:center;
}
.lowright{
	float: right;
	width:49%;
	height: 480px;
	border-bottom: 8px solid black;
	border-top: 8px solid black;
    background-color: rgba(0,0,0,0.7);
	text-align: center;
}
.deletesessionbutton{
color:white;
}

.deletesessionbutton #delete1 {
  font-family: "Roboto", sans-serif;
  width: 20%;
  margin-bottom:3px;
  box-sizing: border-box;
  font-size: 14px;
}

.deletesessionbutton #delete2 {
  font-family: "Roboto", sans-serif;
  width: 20%;
  margin-bottom:3px;
  box-sizing: border-box;
  font-size: 14px;
}

.deletesessionbutton #delete3 {
  font-family: "Roboto", sans-serif;
  width: 20%;
  margin-bottom:3px;
  box-sizing: border-box;
  font-size: 14px;
}

.deletesessionbutton #delete4 {
  font-family: "Roboto", sans-serif;
  width: 20%;
  margin-bottom:3px;
  box-sizing: border-box;
  font-size: 14px;
}

.deletesessionbutton .sub {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}
.deletesessionbutton .sub:hover,#myForm .sub:active,#myForm .sub:focus {
  background: black;
  color:white;
}
#sessiontable{
	margin-left:3%;
	margin-right:3%;
}

.pager{
	margin-left:3%;
	margin-top: 8px;
}
